<section class="image-container">
    <img src="../../../assets/images/1.jpg">
    <div class="after">
    </div>
    <div class="s border border-1 row">
      <button mat-mini-fab style="color: #0066cc;background-color: white;margin-right: 1%;">
        <i aria-hidden="true" class="fab fa-facebook fa-2x" style="line-height: 0.1rem;font-size: 297%;margin-left: -4%;"></i>
      </button>
      <button mat-mini-fab style="background-color:#0066cc;color:white;margin-right: 1%;">
        <i aria-hidden="true" class="fab fa-twitter fa-lg"></i>
      </button>
      <button mat-mini-fab style="background-color:#0066cc;color:white;margin-right: 1%;">
          <i aria-hidden="true" class="fab fa-linkedin-in fa-lg"></i>
        </button>
      <div class="col-lg-8 offset-lg-4 col-sm-12 offset-sm-0">Our Live Chat Customer Support</div>
      <div class="col-lg-11 offset-lg-1 col-sm-12 offset-sm-0">If you have a company and need to care your customer</div>
      <div class="col-lg-8 offset-lg-4 col-sm-12 offset-sm-0">You are in the right place</div>
      <button class="btn btn-outline-info col-lg-4 offset-lg-4 col-sm-5 offset-sm-1 my-2" routerLink='/register'>regsiter</button>
      <button class="btn btn-outline-warning col-lg-4 offset-lg-4 col-sm-5 offset-sm-1 my-2" routerLink="/login">login</button>
  
    </div>
  </section>
  <!-- <section class="container bg-dark" style="margin-top: 10vh;">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <img src="../../../assets/images/1.jpg">
      </div>
      <div class="col-lg-4 col-sm-12 text-white">
          <p>
              not Register
          </p>
  
          <div class="row ">
                  <input type="text" class="col-12">
                  <input type="text" class="col-12">
          </div>
      </div>
    </div>
  </section> -->
  